<ion-header>

  <ion-navbar>
    <ion-title>{{ bookName }} (capítulo {{chapterNumber + 1}})</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="closeModal()">
            <ion-icon item-right name="ios-close-outline"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <lottie-animation-view 
    [options]="lottieConfig" 
    [width]="200" 
    [height]="200" 
    *ngIf="lottieConfig"
    class="lottieMarked">
  </lottie-animation-view>
  <ion-list>
    <ion-item *ngFor="let versicle of chapter; let i = index;" text-wrap (press)="selectVersicle(versicle)">
      {{i + 1}} - {{versicle}}
    </ion-item>
  </ion-list>
</ion-content>